@charset "UTF-8";
/*---------- color ----------*/
html {
  font-size: 62.5%;
  font-family: YuGothic, "Yu Gothic", sans-serif;
  letter-spacing: 0.05em;
  margin-top: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #4f6a20;
}

/*---------- 共通調整 ----------*/
.wrapper {
  padding: 85px 0;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 75px 0;
  }
}

.inner {
  margin: 0 auto;
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*---------- 1文字ずつ出現するアニメーション ----------*/
.eachTextAnime span {
  opacity: 0;
}

.eachTextAnime.appeartext span {
  animation: text_anime_on 1s ease-out forwards;
}
@keyframes text_anime_on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*---------- header ----------*/
.header {
  z-index: 999999;
  background: rgba(255, 255, 255, 0.75);
  padding: 0 30px;
  width: 100vw;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.2549019608) 0 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: all 0.5s;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0 15px;
  }
}
.header_img {
  width: auto;
  height: 80%;
  position: relative;
}
.header_img a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.header_img img {
  width: auto;
  height: 100%;
  object-fit: contain;
}
.header_nav {
  /*---------- ハンバーガー ----------*/
}
.header_nav_list {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4f6a20;
}
@media screen and (max-width: 768px) {
  .header_nav_list {
    display: none;
  }
}
.header_nav_list li {
  position: relative;
  list-style: none;
  transition: all 0.5s;
}
.header_nav_list li:not(:last-child) {
  margin-right: 55px;
}
@media screen and (max-width: 1024px) {
  .header_nav_list li:not(:last-child) {
    margin-right: 30px;
  }
}
.header_nav_list li::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 50%;
  width: 0;
  height: 2px;
  background: #4f6a20;
  transition: all 0.5s;
}
.header_nav_list li:hover::before {
  width: 50%;
}
.header_nav_list li::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #4f6a20;
  transition: all 0.5s;
}
.header_nav_list li:hover::after {
  width: 50%;
}
.header_nav_list li::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 50%;
  width: 0;
  height: 2px;
  background: #4f6a20;
  transition: all 0.5s;
}
.header_nav_list li:hover::before {
  width: 50%;
}
.header_nav_sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .header_nav_sp {
    display: block;
    width: 34px;
    height: 28px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
  }
}
.header_nav_sp span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #1b5d00;
  transition: all 0.5s;
}
.header_nav_sp span:nth-child(1) {
  top: 0;
}
.header_nav_sp span:nth-child(2) {
  top: 12.5px;
}
.header_nav_sp span:nth-child(3) {
  bottom: 0;
}
.header_nav .menu_visible span {
  background: #fff;
}
.header_nav .menu_visible span:nth-child(1) {
  top: calc(50% - 3px);
  transform: rotate(45deg);
}
.header_nav .menu_visible span:nth-child(2) {
  display: none;
}
.header_nav .menu_visible span:nth-child(3) {
  bottom: 50%;
  transform: rotate(-45deg);
}

.sp_menu {
  width: 100vw;
  height: 100vh;
  background: #268e00;
  position: absolute;
  top: 0;
  right: -100vw;
  z-index: -1;
}
.sp_menu ul li {
  text-align: center;
  list-style-type: none;
  font-size: 3rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .sp_menu ul li {
    font-size: 2.5rem;
  }
}
.sp_menu ul li:not(:first-child) {
  margin-top: 50px;
}
.sp_menu ul li a {
  color: #fff;
}

/*---------- hero ----------*/
.hero {
  width: 100vw;
  height: calc(100vh + 15px);
  background-image: url(../../img/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  width: 105vw;
  height: 100px;
  box-shadow: 0 -10px 10px #fff;
  bottom: -100px;
  left: -2.5vw;
}
.hero_txt {
  position: absolute;
  bottom: 6%;
  left: 3%;
}
@media screen and (max-width: 1024px) {
  .hero_txt {
    top: 10%;
  }
}
@media screen and (max-width: 768px) {
  .hero_txt {
    left: 8%;
    top: 13%;
  }
}
.hero_txt h1 {
  font-size: 5.8rem;
  font-weight: 600;
  letter-spacing: 0.12em;
  color: #fff;
  text-shadow: #222222 0 3px 6px;
}
@media screen and (max-width: 1024px) {
  .hero_txt h1 {
    writing-mode: vertical-rl;
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 768px) {
  .hero_txt h1 {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
  }
}
.hero_info {
  bottom: 3%;
  right: 1%;
  box-shadow: rgba(0, 0, 0, 0.2549019608) 7px 7px 7px;
  width: 360px;
  height: 360px;
  padding: 23px 30px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  z-index: 3;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .hero_info {
    right: 2%;
    width: 80%;
    height: 290px;
    max-width: 320px;
    min-width: 300px;
    padding: 10px 20px;
  }
}
.hero_info_time:not(:first-child) {
  margin-top: 5px;
}
.hero_info_time p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4f6a20;
}
.hero_info_time_txt {
  width: 290px;
  text-align: center;
  padding: 16px 20px;
  background: #1b5d00;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  .hero_info_time_txt {
    width: 250px;
    padding: 11px 7px;
  }
}
.hero_info_time_txt p {
  color: #fff;
}
.hero_info_time_txt span {
  font-size: 1.9rem;
  font-weight: bold;
  padding: 0 3px;
}
.hero_info_week {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
}
.hero_info_week .on {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1b5d00;
  border-radius: 50%;
  border: #1b5d00 2px solid;
  padding: 2px 6px;
  margin-right: 5px;
}
.hero_info_week .off {
  width: 24px;
  height: 24px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #1b5d00;
  border-radius: 50%;
  border: #1b5d00 2px solid;
  opacity: 0.5;
  margin-right: 3px;
  padding-left: 3.5px;
}
.hero_info_tel {
  margin-top: 15px;
}
@media screen and (max-width: 1024px) {
  .hero_info_tel {
    margin-top: 5px;
  }
}
.hero_info_tel p {
  font-size: 1.1rem;
}
.hero_info_tel_num {
  width: 290px;
  height: 60px;
  background: #268e00;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .hero_info_tel_num {
    width: 250px;
    height: 50px;
  }
}
.hero_info_tel_num p {
  color: #fff;
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
}
.hero_info_tel_num img {
  margin-right: 10px;
}

/*---------- subtitle ----------*/
.sub_title {
  text-align: center;
  position: relative;
  color: #4f6a20;
  font-size: 3.7rem;
  z-index: 10;
  text-shadow: 0 0 10px 3px #eee;
}
@media screen and (max-width: 768px) {
  .sub_title {
    font-size: 3rem;
  }
}
.sub_title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  left: 50%;
  top: -20px;
  z-index: -1;
}
.sub_title::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #268e00;
  left: 50%;
  top: -30px;
  z-index: -2;
}

/*---------- footer ----------*/
.footer {
  position: relative;
  width: 100vw;
  height: 260px;
  margin-top: 85px;
  background: #1b5d00;
  display: flex;
}
@media screen and (max-width: 768px) {
  .footer {
    height: auto;
    flex-direction: column;
    margin-top: 75px;
  }
}
.footer_logo {
  background: #eafced;
  width: 30%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .footer_logo {
    width: 100%;
    height: 130px;
  }
}
.footer_logo img {
  width: 70%;
  object-fit: contain;
}
.footer_info {
  padding: 30px 0;
  width: 70%;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .footer_info {
    flex-direction: column;
    width: 100%;
    padding: 30px 15px 150px 15px;
  }
}
@media screen and (max-width: 768px) {
  .footer_info_list:not(:first-child) {
    margin-top: 20px;
  }
}
.footer_info_list li {
  color: #fff;
}
.footer_info_list .head {
  list-style: none;
  margin-bottom: 15px;
}
.footer_info_list .head a {
  border-bottom: 1px solid #fff;
}
.footer_info_list a {
  color: #fff;
}
.footer_place {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  right: 15px;
  bottom: 15px;
}

/*---------- subpage hero ----------*/
.subpage_hero {
  width: 100vw;
  height: 400px;
  background-image: url("../../img/subpage_header.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .subpage_hero {
    height: 100vh;
  }
}
.subpage_hero h1 {
  padding-top: 75px;
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 0 3px #848484;
}
@media screen and (max-width: 768px) {
  .subpage_hero h1 {
    padding-top: 70px;
  }
}

/*---------- know ----------*/
.know_content {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 1024px) {
  .know_content {
    max-width: 600px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .know_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.know_content_one {
  align-items: center;
  position: relative;
  border-radius: 10px;
  width: 24%;
  min-width: 250px;
  padding: 2.5%;
  background: #f8f8f8;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1450980392);
  transition: all 0.3s;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .know_content_one {
    min-width: 250px;
  }
  .know_content_one:not(:nth-of-type(1)):not(:nth-of-type(2)) {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .know_content_one {
    padding: 10%;
    width: 90%;
  }
  .know_content_one:not(:first-child) {
    margin-top: 30px;
  }
  .know_content_one:not(:nth-of-type(1)):not(:nth-of-type(2)) {
    margin-top: 30px;
  }
}
.know_content_one:hover {
  box-shadow: 0 0 0 #fff;
  left: 5px;
  top: 5px;
}
.know_content_one a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.know_content_one_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.know_content_one_title h2 {
  font-size: 2.5rem;
  color: #4f6a20;
  white-space: nowrap;
}
.know_content_one_title img {
  margin-right: 5%;
}
.know_content_one p {
  font-size: 1.7rem;
  margin-top: 20px;
  line-height: 2.8rem;
  padding-left: 3%;
}
@media screen and (max-width: 1024px) {
  .know_content_one p {
    font-size: 1.6rem;
  }
}

/*---------- 診療科 ----------*/
.departmentM {
  padding-top: 0;
}
.departmentM_content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .departmentM_content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .departmentM_content {
    flex-direction: column;
  }
}
.departmentM_content_parts {
  width: 27%;
  background: #fffdeb;
  box-shadow: 0 0 5px #938800;
  padding: 10px;
  border-radius: 100px;
  aspect-ratio: 1/1;
  position: relative;
  transition: all 0.2s;
}
@media screen and (max-width: 1024px) {
  .departmentM_content_parts {
    margin: 0 3%;
    min-width: 270px;
  }
}
@media screen and (max-width: 768px) {
  .departmentM_content_parts:not(:first-child) {
    margin-top: 30px;
  }
}
.departmentM_content_parts:hover {
  filter: brightness(90%);
}
.departmentM_content_parts_img {
  width: 60%;
  aspect-ratio: 5/3;
  margin-bottom: 20px;
  background-image: url(../../img/zibika.png);
  background-position: center;
  background-size: contain;
}
.departmentM_content_parts h1 {
  font-size: 4rem;
}
.departmentM_content_parts p {
  font-size: 1.7rem;
}
.departmentM_content_parts a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.departmentM_content_parts:nth-of-type(2) {
  background: #f4fdfd;
  box-shadow: #006565 0 0 5px;
}
.departmentM_content_parts:nth-of-type(2) .departmentM_content_parts_img {
  background-image: url(../../img/ganka.png);
  background-size: cover;
}
.departmentM_content_parts:nth-of-type(3) {
  background: #fdf4fb;
  box-shadow: #760017 0 0 5px;
}
.departmentM_content_parts:nth-of-type(3) .departmentM_content_parts_img {
  background-image: url(../../img/naika.png);
}

/*---------- news ----------*/
.news_content {
  width: 100vw;
  height: 600px;
  max-width: 100vw;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .news_content {
    height: 700px;
  }
}
.news_content_new {
  height: auto;
  position: relative;
  width: 100vw;
  height: 100%;
  background: #eafced;
}
.news_content_new_inner {
  position: relative;
  top: 70px;
  z-index: 10;
  max-width: 1300px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.news_content_new_inner .newslist_wrapper {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .news_content_new_inner .newslist_wrapper {
    max-width: 650px;
  }
}
.news_content_new_inner .newslist_wrapper a {
  position: absolute;
  right: 0;
  bottom: -5rem;
  font-size: 2rem;
  font-weight: bold;
}
.news_content_new_inner .newslist_wrapper a img {
  padding-left: 10px;
  margin-bottom: -2px;
}
.news_content_new_inner .news_list {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}
@media screen and (max-width: 768px) {
  .news_content_new_inner .news_list {
    padding-top: 100px;
  }
}
.news_content_new_inner .news_list li {
  padding: 28px 0 28px 2%;
  border-top: 1px solid #4f6a20;
  display: flex;
  align-items: center;
  color: #4f6a20;
  font-size: 1.7rem;
}
.news_content_new_inner .news_list li:last-child {
  border-bottom: 1px solid #4f6a20;
}
@media screen and (max-width: 768px) {
  .news_content_new_inner .news_list li {
    padding: 20px 0 20px 2%;
    flex-wrap: wrap;
  }
}
.news_content_new_inner .news_list_tag {
  font-size: 1.4rem;
  padding: 4px 6px;
  color: #fff;
  border-radius: 10px;
  background: #268e00;
  margin: 0 20px;
}

/*---------- access ----------*/
.access_content {
  margin-top: 70px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .access_content {
    flex-direction: column;
  }
}
.access_content_map {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .access_content_map {
    width: 100%;
  }
}
.access_content_map iframe {
  width: 100%;
  aspect-ratio: 3/2;
}
.access_content_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1% 0 1% 7%;
}
@media screen and (max-width: 768px) {
  .access_content_info {
    margin: 3% 0 0 0;
  }
}
.access_content_info_txt {
  font-size: 1.7rem;
  color: #4f6a20;
  line-height: 3.4rem;
  padding: 20px 25px;
  border-left: 3px solid #268e00;
}
@media screen and (max-width: 768px) {
  .access_content_info_txt:not(:first-child) {
    margin-top: 10px;
  }
}

/*---------- hospital ----------*/
.hospital_info {
  width: 100vw;
  height: auto;
}
.hospital_info_content {
  position: relative;
  width: 80%;
  min-height: 850px;
  margin: 0 auto;
  aspect-ratio: 3/2;
  background-image: url("../../img/hospital_page_info.jpg");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .hospital_info_content {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .hospital_info_content {
    background-position: 75% center;
    width: 100%;
  }
}
.hospital_info_content_arrow {
  padding-top: 25px;
}
.hospital_info_content_arrow div:not(:first-child) {
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .hospital_info_content_arrow {
    overflow-x: hidden;
  }
}
.hospital_info_content_arrow_title {
  position: relative;
  display: inline-block;
  background: #268e00;
  padding: 30px 50px;
  font-size: 5rem;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .hospital_info_content_arrow_title {
    font-size: 2.7rem;
    padding: 30px 0;
  }
}
.hospital_info_content_arrow_title::after {
  position: absolute;
  content: "";
  top: 0;
  right: -99px;
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 68px solid transparent;
  border-bottom: 68px solid transparent;
  border-left: 100px solid #268e00;
  border-right: 0;
}
@media screen and (max-width: 1024px) {
  .hospital_info_content_arrow_title::after {
    right: -29px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #268e00;
  }
}
.hospital_info_content_arrow_subtitle {
  position: relative;
  display: inline-block;
  padding: 20px 35px;
  background: #1b5d00;
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .hospital_info_content_arrow_subtitle {
    font-size: 2rem;
    padding: 20px 15px;
  }
}
.hospital_info_content_arrow_subtitle::after {
  position: absolute;
  right: -73px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 43px solid transparent;
  border-bottom: 43px solid transparent;
  border-left: 74px solid #1b5d00;
  border-right: 0;
  content: "";
}
@media screen and (max-width: 1024px) {
  .hospital_info_content_arrow_subtitle::after {
    right: -19px;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #1b5d00;
  }
}
.hospital_info_content .circle_wrapper {
  position: absolute;
  bottom: 10%;
  left: 5%;
}
@media screen and (max-width: 768px) {
  .hospital_info_content .circle_wrapper {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.hospital_info_content_circle {
  width: 350px;
  height: 350px;
  position: relative;
  bottom: 0;
  color: #4f6a20;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .hospital_info_content_circle {
    width: 95vw;
    height: 95vw;
    max-width: 330px;
    max-height: 330px;
    min-width: 280px;
    min-height: 280px;
  }
}
.hospital_info_content_circle::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  filter: blur(2px);
  z-index: -1;
}
.hospital_info_content_circle h3 {
  margin-bottom: 10%;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(transparent 60%, rgba(152, 255, 55, 0.6235294118) 60%);
}
.hospital_info_content_circle p {
  font-size: 1.7rem;
  line-height: 4rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .hospital_info_content_circle p {
    font-size: 1.5rem;
  }
}

.doctor_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.doctor_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.doctor_content:not(:first-child) {
  margin-top: 55px;
}
@media screen and (max-width: 768px) {
  .doctor_content {
    display: flex;
    flex-direction: column;
  }
}
.doctor_content_human {
  width: 25%;
}
@media screen and (max-width: 1024px) {
  .doctor_content_human {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  .doctor_content_human {
    min-width: 200px;
  }
}
.doctor_content_human_img {
  width: 100%;
  height: auto;
  aspect-ratio: 5/6;
}
.doctor_content_human_img img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.doctor_content_name {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
}
.doctor_content_name span {
  font-size: 1.7rem;
  padding-right: 1.7rem;
}
.doctor_content_txt {
  width: 70%;
  padding: 30px;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.0862745098);
}
@media screen and (max-width: 1024px) {
  .doctor_content_txt {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .doctor_content_txt {
    margin-top: 30px;
    width: 100%;
  }
}
.doctor_content_txt h3 {
  color: #4f6a20;
  font-size: 2rem;
  border-bottom: 1px solid #4f6a20;
}
.doctor_content_txt p {
  letter-spacing: 0.05em;
  line-height: 3rem;
  color: #000;
  font-size: 1.7rem;
}
.doctor_content_txt_one:last-child {
  margin-top: 20px;
}

/*---------- department page ----------*/
.department {
  width: 100vw;
}
.department_content_one {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fffdeb;
  box-shadow: 0 0 5px #938800;
  padding: 25px 50px;
  border-radius: 100px;
}
@media screen and (max-width: 768px) {
  .department_content_one {
    flex-direction: column;
    align-items: center;
    padding: 50px 5%;
    border-radius: 70px;
  }
}
.department_content_one:not(:first-child) {
  margin-top: 100px;
}
.department_content_one:nth-of-type(2) {
  background: #f4fdfd;
  box-shadow: #006565 0 0 5px;
}
.department_content_one:nth-of-type(2) .department_content_one_head_img {
  background-image: url(../../img/ganka.png);
  background-size: cover;
}
.department_content_one:nth-of-type(2) .department_content_one_info_doctor p {
  background: #00b1ff;
}
.department_content_one:nth-of-type(3) {
  background: #fdf4fb;
  box-shadow: #760017 0 0 5px;
}
.department_content_one:nth-of-type(3) .department_content_one_head_img {
  background-image: url(../../img/naika.png);
}
.department_content_one:nth-of-type(3) .department_content_one_info_doctor p {
  background: #fa8abe;
}
.department_content_one_head {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .department_content_one_head {
    width: 80%;
  }
}
.department_content_one_head_img {
  width: 60%;
  min-width: 140px;
  max-width: 210px;
  aspect-ratio: 5/3;
  margin-bottom: 20px;
  background-image: url(../../img/zibika.png);
  background-position: center;
  background-size: contain;
}
.department_content_one_head_txt {
  text-align: center;
}
.department_content_one_head_txt h1 {
  font-size: 4rem;
}
.department_content_one_head_txt p {
  font-size: 1.7rem;
}
.department_content_one_info {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .department_content_one_info {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .department_content_one_info_doctor {
    text-align: center;
    margin-top: 30px;
  }
}
.department_content_one_info_doctor p {
  font-size: 2rem;
  font-weight: bold;
  background: #ffce00;
  padding: 15px 30px;
  display: inline-block;
}
.department_content_one_info_reception {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .department_content_one_info_reception {
    text-align: center;
  }
}
.department_content_one_info_reception p {
  display: inline;
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 2px solid #000;
}
.department_content_one_info_main {
  margin-top: 30px;
  font-size: 1.7rem;
}

/*---------- news page ----------*/
.newspage_content_menu {
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .newspage_content_menu {
    font-size: 1.7rem;
    height: 46px;
  }
  .newspage_content_menu_important {
    font-size: 1.5rem;
    height: 46px;
  }
}
.newspage_content_menu a {
  border-radius: 10px 10px 0 0;
  padding: 17px 0;
  background: #1b5d00;
  display: inline-block;
  width: 300px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .newspage_content_menu a {
    padding: 10px 0;
    width: 135px;
  }
}
.newspage_content_menu .none {
  opacity: 0.7;
}
.newspage_content_main {
  padding: 100px;
  border-radius: 20px;
  border: 3px solid #1b5d00;
}
@media screen and (max-width: 768px) {
  .newspage_content_main {
    padding: 30px 5%;
  }
}
.newspage_content_main_list li {
  position: relative;
  padding: 28px 0 28px 2%;
  border-top: 1px solid #4f6a20;
  display: flex;
  align-items: center;
  color: #4f6a20;
  font-size: 1.7rem;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .newspage_content_main_list li {
    font-size: 1.4rem;
  }
}
.newspage_content_main_list li:last-child {
  border-bottom: 1px solid #4f6a20;
}
.newspage_content_main_list li:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .newspage_content_main_list li {
    padding: 20px 0 20px 2%;
    flex-wrap: wrap;
  }
}
.newspage_content_main_list li a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.newspage_content_main_list .news_list_tag {
  font-size: 1.4rem;
  padding: 4px 6px;
  color: #fff;
  border-radius: 10px;
  background: #268e00;
  margin: 0 20px;
}
@media screen and (max-width: 768px) {
  .newspage_content_main_list .news_list_tag {
    font-size: 1.2rem;
    margin: 5px 10px;
  }
}

.nav-links {
  margin-top: 50px;
  font-size: 2rem;
  text-align: center;
}
.nav-links .current {
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 10px;
}
.nav-links .page-numbers {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */