@use "mixin" as m;
@use "variables" as *;

/*---------- know ----------*/
.know {
  &_content {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @include m.mq(tab) {
      max-width: 600px;
      flex-wrap: wrap;
    }
    @include m.mq(sp) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_one {
      align-items: center;
      position: relative;
      border-radius: 10px;
      width: 24%;
      min-width: 250px;
      padding: 2.5%;
      background: $color-grey;
      box-shadow: 5px 5px 1px #00000025;
      transition: all 0.3s;
      top: 0;
      left: 0;
      @include m.mq(tab) {
        min-width: 250px;
        &:not(:nth-of-type(1)):not(:nth-of-type(2)) {
          margin-top: 50px;
        }
      }
      @include m.mq(sp) {
        &:not(:first-child) {
          margin-top: 30px;
        }
        &:not(:nth-of-type(1)):not(:nth-of-type(2)) {
          margin-top: 30px;
        }
        padding: 10%;
        width: 90%;
      }
      &:hover {
        box-shadow: 0 0 0 #fff;
        left: 5px;
        top: 5px;
      }
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      &_title {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          font-size: 2.5rem;
          color: $color-text-green;
          white-space: nowrap;
        }
        img {
          margin-right: 5%;
        }
      }
      p {
        font-size: 1.7rem;
        margin-top: 20px;
        line-height: 2.8rem;
        padding-left: 3%;
        @include m.mq(tab) {
          font-size: 1.6rem;
        }
      }
    }
  }
}
/*---------- 診療科 ----------*/
.departmentM {
  padding-top: 0;
  &_content {
    display: flex;
    justify-content: space-between;
    @include m.mq(tab) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    @include m.mq(sp) {
      flex-direction: column;
    }
    &_parts {
      width: 27%;
      background: #fffdeb;
      box-shadow: 0 0 5px #938800;
      padding: 10px;
      border-radius: 100px;
      aspect-ratio: 1/1;
      position: relative;
      transition: all 0.2s;
      @include m.mq(tab) {
        margin: 0 3%;
        min-width: 270px;
      }
      @include m.mq(sp) {
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
      &:hover {
        filter: brightness(90%);
      }
      &_img {
        width: 60%;
        aspect-ratio: 5/3;
        margin-bottom: 20px;
        background-image: url(../../img/zibika.png);
        background-position: center;
        background-size: contain;
      }
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1.7rem;
      }
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {
        background: #f4fdfd;
        box-shadow: #006565 0 0 5px;
        .departmentM_content_parts_img {
          background-image: url(../../img/ganka.png);
          background-size: cover;
        }
      }
      &:nth-of-type(3) {
        background: #fdf4fb;
        box-shadow: #760017 0 0 5px;
        .departmentM_content_parts_img {
          background-image: url(../../img/naika.png);
          // background-size: cover;
        }
      }
    }
  }
}
/*---------- news ----------*/
// .news_back {
// &::before {
//   cursor: pointer;
//   z-index: 2;
//   content: "";
//   position: absolute;
//   left: 0;
//   width: 100vw;
//   height: 700px;
// }
// &::after {
//   z-index: 1;
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   overflow-x: hidden;
//   border-style: solid;
//   border-width: 0 0 600px 270vw;
//   border-color: transparent transparent $color-green transparent;
// }
// }
// .news_back2 {
//   transition: all 0.5s;
//   &::before {
//     cursor: pointer;
//     z-index: 1;
//     content: "";
//     position: absolute;
//     left: 0;
//     overflow-x: hidden;
//     border-style: solid;
//     border-width: 600px 0 0 270vw;
//     border-color: transparent transparent transparent $color-sub-green;
//   }
//   &::after {
//     z-index: 2;
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 0;
//     overflow-x: hidden;
//     border-style: solid;
//     border-width: 0 0 600px 270vw;
//     border-color: transparent transparent $color-green transparent;
//   }
// }
.news {
  &_content {
    width: 100vw;
    height: 600px;
    max-width: 100vw;
    overflow-x: hidden;
    @include m.mq(sp) {
      height: 700px;
    }
    &_new {
      height: auto;
      position: relative;
      width: 100vw;
      height: 100%;
      background: $color-sub-green;

      &_inner {
        position: relative;
        top: 70px;
        z-index: 10;
        max-width: 1300px;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;

        .newslist_wrapper {
          position: relative;
          max-width: 900px;
          margin: 0 auto;
          @include m.mq(tab) {
            max-width: 650px;
          }
          a {
            position: absolute;
            right: 0;
            bottom: -5rem;
            font-size: 2rem;
            font-weight: bold;
            img {
              padding-left: 10px;
              margin-bottom: -2px;
            }
          }
        }
        .news_list {
          display: flex;
          flex-direction: column;
          padding-top: 75px;
          @include m.mq(sp) {
            padding-top: 100px;
          }
          li {
            position: relative;
            padding: 28px 0 28px 2%;
            border-top: 1px solid $color-text-green;
            display: flex;
            align-items: center;
            color: $color-text-green;
            font-size: 1.7rem;
            transition: all 0.2s;

            &:last-child {
              border-bottom: 1px solid $color-text-green;
            }
            &:hover {
              opacity: 0.8;
            }
            @include m.mq(sp) {
              padding: 20px 0 20px 2%;
              flex-wrap: wrap;
            }
            a {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
            }
          }
          &_tag {
            font-size: 1.4rem;
            padding: 4px 6px;
            color: #fff;
            border-radius: 10px;
            background: $color-green;
            margin: 0 20px;
          }
        }
      }
    }
  }
}
/*---------- access ----------*/
.access {
  &_content {
    margin-top: 70px;
    display: flex;
    @include m.mq(sp) {
      flex-direction: column;
    }
    &_map {
      width: 50%;
      @include m.mq(sp) {
        width: 100%;
      }
      iframe {
        width: 100%;
        aspect-ratio: 3/2;
      }
    }
    &_info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 1% 0 1% 7%;
      @include m.mq(sp) {
        margin: 3% 0 0 0;
      }
      &_txt {
        font-size: 1.7rem;
        color: $color-text-green;
        line-height: 3.4rem;
        padding: 20px 25px;
        border-left: 3px solid $color-green;
        @include m.mq(sp) {
          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
/*---------- hospital ----------*/
.hospital_info {
  width: 100vw;
  height: auto;
  &_content {
    position: relative;
    width: 80%;
    min-height: 850px;
    margin: 0 auto;
    aspect-ratio: 3/2;
    background-image: url("../../img/hospital_page_info.jpg");
    background-position: center;
    background-size: cover;
    @include m.mq(tab) {
      width: 95%;
    }
    @include m.mq(sp) {
      background-position: 75% center;
      width: 100%;
    }
    &_arrow {
      padding-top: 25px;
      div {
        &:not(:first-child) {
          padding-top: 10px;
        }
      }
      @include m.mq(sp) {
        overflow-x: hidden;
      }
      &_title {
        position: relative;
        display: inline-block;
        background: $color-green;
        padding: 30px 50px;
        font-size: 5rem;
        color: #fff;
        font-weight: bold;
        @include m.mq(tab) {
          font-size: 2.7rem;
          padding: 30px 0;
        }
        &::after {
          position: absolute;
          content: "";
          top: 0;
          right: -99px;
          width: 0;
          height: 0;
          border-style: solid;
          border-top: 68px solid transparent;
          border-bottom: 68px solid transparent;
          border-left: 100px solid $color-green;
          border-right: 0;
          @include m.mq(tab) {
            right: -29px;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 30px solid $color-green;
          }
        }
      }
      &_subtitle {
        position: relative;
        display: inline-block;
        padding: 20px 35px;
        background: $color-deep-green;
        font-size: 3rem;
        color: #fff;
        font-weight: bold;
        @include m.mq(tab) {
          font-size: 2rem;
          padding: 20px 15px;
        }
        &::after {
          position: absolute;
          right: -73px;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-top: 43px solid transparent;
          border-bottom: 43px solid transparent;
          border-left: 74px solid $color-deep-green;
          border-right: 0;
          content: "";
          @include m.mq(tab) {
            right: -19px;
            border-top: 35px solid transparent;
            border-bottom: 35px solid transparent;
            border-left: 20px solid $color-deep-green;
          }
        }
      }
    }
    .circle_wrapper {
      position: absolute;
      bottom: 10%;
      left: 5%;
      @include m.mq(sp) {
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &_circle {
      width: 350px;
      height: 350px;
      position: relative;
      bottom: 0;
      color: $color-text-green;
      z-index: 1;
      @include m.mq(sp) {
        width: 95vw;
        height: 95vw;
        max-width: 330px;
        max-height: 330px;
        min-width: 280px;
        min-height: 280px;
      }
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.7);
        filter: blur(2px);
        z-index: -1;
      }
      h3 {
        margin-bottom: 10%;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(transparent 60%, #98ff379f 60%);
      }
      p {
        font-size: 1.7rem;
        line-height: 4rem;
        text-align: center;
        @include m.mq(sp) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
.doctor {
  &_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &:not(:first-child) {
      margin-top: 55px;
    }
    @include m.mq(sp) {
      display: flex;
      flex-direction: column;
    }
    &_human {
      width: 25%;
      @include m.mq(tab) {
        width: 35%;
      }
      @include m.mq(sp) {
        min-width: 200px;
      }
      &_img {
        width: 100%;
        height: auto;
        aspect-ratio: 5/6;
        img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
    &_name {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      margin-top: 10px;
      span {
        font-size: 1.7rem;
        padding-right: 1.7rem;
      }
    }
    &_txt {
      width: 70%;
      padding: 30px;
      background: $color-grey;
      border-radius: 10px;
      box-shadow: 5px 5px 1px #00000016;
      @include m.mq(tab) {
        width: 60%;
      }
      @include m.mq(sp) {
        margin-top: 30px;
        width: 100%;
      }
      h3 {
        color: $color-text-green;
        font-size: 2rem;
        border-bottom: 1px solid $color-text-green;
      }
      p {
        letter-spacing: 0.05em;
        line-height: 3rem;
        color: #000;
        font-size: 1.7rem;
      }
      &_one {
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
}
/*---------- department page ----------*/
.department {
  width: 100vw;
  &_content {
    &_one {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background: #fffdeb;
      box-shadow: 0 0 5px #938800;
      padding: 25px 50px;
      border-radius: 100px;
      @include m.mq(sp) {
        flex-direction: column;
        align-items: center;
        padding: 50px 5%;
        border-radius: 70px;
      }
      &:not(:first-child) {
        margin-top: 100px;
      }
      &:nth-of-type(2) {
        background: #f4fdfd;
        box-shadow: #006565 0 0 5px;
        .department_content_one_head_img {
          background-image: url(../../img/ganka.png);
          background-size: cover;
        }
        .department_content_one_info_doctor p {
          background: #00b1ff;
        }
      }
      &:nth-of-type(3) {
        background: #fdf4fb;
        box-shadow: #760017 0 0 5px;
        .department_content_one_head_img {
          background-image: url(../../img/naika.png);
          // background-size: cover;
        }
        .department_content_one_info_doctor p {
          background: #fa8abe;
        }
      }

      &_head {
        width: 25%;
        @include m.mq(sp) {
          width: 80%;
        }
        &_img {
          width: 60%;
          min-width: 140px;
          max-width: 210px;
          aspect-ratio: 5/3;
          margin-bottom: 20px;
          background-image: url(../../img/zibika.png);
          background-position: center;
          background-size: contain;
        }
        &_txt {
          text-align: center;
          h1 {
            font-size: 4rem;
          }
          p {
            font-size: 1.7rem;
          }
        }
      }
      &_info {
        width: 70%;
        @include m.mq(sp) {
          width: 100%;
        }
        &_doctor {
          @include m.mq(sp) {
            text-align: center;
            margin-top: 30px;
          }
          p {
            font-size: 2rem;
            font-weight: bold;
            background: #ffce00;
            padding: 15px 30px;
            display: inline-block;
          }
        }
        &_reception {
          margin-top: 20px;
          @include m.mq(sp) {
            text-align: center;
          }
          p {
            display: inline;
            font-weight: bold;
            font-size: 2rem;
            border-bottom: 2px solid #000;
          }
        }
        &_main {
          margin-top: 30px;
          font-size: 1.7rem;
        }
      }
    }
  }
}
/*---------- news page ----------*/
.newspage {
  &_content {
    &_menu {
      font-size: 2.5rem;
      font-weight: bold;
      margin-left: 20px;
      @include m.mq(sp) {
        font-size: 1.7rem;
        height: 46px;
        &_important {
          font-size: 1.5rem;
          height: 46px;
        }
      }
      a {
        border-radius: 10px 10px 0 0;
        padding: 17px 0;
        background: $color-deep-green;
        display: inline-block;
        width: 300px;
        text-align: center;
        color: #fff;
        @include m.mq(sp) {
          padding: 10px 0;
          width: 135px;
        }
      }
      .none {
        opacity: 0.7;
        transition: all 0.2s;
        &:hover {
          opacity: 1;
        }
      }
    }
    &_main {
      padding: 100px;
      border-radius: 20px;
      border: 3px solid $color-deep-green;
      @include m.mq(sp) {
        padding: 30px 5%;
      }
      &_list {
        li {
          position: relative;
          padding: 28px 0 28px 2%;
          border-top: 1px solid $color-text-green;
          display: flex;
          align-items: center;
          color: $color-text-green;
          font-size: 1.7rem;
          transition: all 0.2s;
          @include m.mq(sp) {
            font-size: 1.4rem;
          }
          &:last-child {
            border-bottom: 1px solid $color-text-green;
          }
          &:hover {
            opacity: 0.8;
          }
          @include m.mq(sp) {
            padding: 20px 0 20px 2%;
            flex-wrap: wrap;
          }
          a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
        .news_list_tag {
          font-size: 1.4rem;
          padding: 4px 6px;
          color: #fff;
          border-radius: 10px;
          background: $color-green;
          margin: 0 20px;
          @include m.mq(sp) {
            font-size: 1.2rem;
            margin: 5px 10px;
          }
        }
      }
    }
  }
}
//pagination
.nav-links {
  margin-top: 50px;
  font-size: 2rem;
  text-align: center;
  .current {
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 10px;
  }
  .page-numbers {
    margin-right: 10px;
  }
}
/*---------- 個別投稿ページ single ----------*/
.article {
  padding-left: 15px;
  padding-right: 15px;
  @include m.mq(sp) {
    padding-left: 10px;
    padding-right: 10px;
  }
  &_content {
    padding: 0;
    border-radius: 20px;
    border: 3px solid $color-deep-green;
    &_head {
      padding: 30px 30px 45px 30px;
      background: $color-deep-green;
      color: #fff;
      border-radius: 10px 10px 0 0;
      &_top {
        font-size: 1.7rem;
        span {
          &:nth-child(2) {
            margin-left: 10px;
            padding: 7px 6px;
            background: $color-green;
            font-size: 1.4rem;
            border-radius: 5px;
            vertical-align: middle;
          }
        }
      }
      h1 {
        margin-top: 10px;
        font-size: 3rem;
      }
    }
    &_main {
      padding: 50px 7%;
      font-size: 1.7rem;
    }
  }
}
/*---------- single page pagination ----------*/
.single_pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &_back {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: $color-green;
    margin: 0 10px;
    a {
      color: #fff;
      font-size: 2rem;
    }
  }
  &_link {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: $color-deep-green;
    a {
      color: #fff;
      font-size: 1.6rem;
    }
  }
}
/*---------- contact page ----------*/
.careful {
  width: 100vw;
  padding: 50px 0;
  background: #fffeed;
  border-bottom: 5px solid #fca500;
  border-top: 5px solid #fca500;
  margin: 85px 0;
  &_content {
    h1 {
      font-size: 4rem;
      text-align: center;
      @include m.mq(sp) {
        font-size: 3.5rem;
      }
      img {
        vertical-align: middle;
        margin-bottom: 10px;
        @include m.mq(sp) {
          width: 40px;
          height: 40px;
        }
      }
    }
    &_txt {
      margin-top: 45px;
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
      @include m.mq(sp) {
        font-size: 1.7rem;
      }
      &_tel {
        margin: 30px 0;
        font-size: 4rem;
        color: #fca500;
        letter-spacing: 0.1em;
        @include m.mq(sp) {
          font-size: 3.5rem;
        }
      }
    }
  }
}
.contactform {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 1.5rem;
  h3 {
    font-size: 2rem;
    color: $color-text-green;
  }
  &_one {
    &:not(:first-child) {
      margin-top: 15px;
    }
    &_name {
      height: 30px;
      width: 20%;
      border: 1px solid #000;
      border-radius: 5px;
      min-width: 200px;
    }
    &_tel {
      height: 30px;
      width: 20%;
      border: 1px solid #000;
      border-radius: 5px;
      min-width: 200px;
    }
    &_mail {
      height: 30px;
      border: 1px solid #000;
      border-radius: 5px;
      width: 40%;
      min-width: 250px;
    }
    &_kind {
      font-size: 1.7rem;
    }
    &_ok {
      font-size: 1.7rem;
    }
    &_text {
      width: 100%;
      height: 300px;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }
  &_submit {
    width: 200px;
    padding: 10px 0;
    font-size: 2rem;
    border-radius: 5px;
    background: $color-deep-green;
    margin: 25px auto 0 auto;
    p {
      display: flex;
      justify-content: center;
    }
    input {
      color: #fff;
    }
    .wpcf7-spinner {
      display: none;
    }
  }
}
.wpcf7-response-output {
  font-size: 1.7rem;
  text-align: center;
  background: $color-sub-green;
  border: 2px solid $color-green !important;
  border-radius: 5px;
}
