@use "mixin" as m;
@use "variables" as *;

/*---------- know ----------*/
.know {
  &_content {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @include m.mq(sp) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_one {
      position: relative;
      border-radius: 10px;
      width: 24%;
      padding: 2.5%;
      background: $color-grey;
      box-shadow: 5px 5px 1px #00000025;
      transition: all 0.3s;
      top: 0;
      left: 0;
      @include m.mq(sp) {
        &:not(:first-child) {
          margin-top: 30px;
        }
        padding: 10%;
        width: 90%;
      }
      &:hover {
        box-shadow: 0 0 0 #fff;
        left: 5px;
        top: 5px;
      }
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      &_title {
        display: flex;
        align-items: center;
        h2 {
          font-size: 2.5rem;
          color: $color-text-green;
          white-space: nowrap;
        }
        img {
          margin-right: 5%;
        }
      }
      p {
        font-size: 1.7rem;
        margin-top: 20px;
        line-height: 2.8rem;
      }
    }
  }
}
/*---------- 診療科 ----------*/
.department {
  padding-top: 0;
  &_content {
    display: flex;
    justify-content: space-between;
    &_parts {
      width: 27%;
      background: #fffdeb;
      box-shadow: 0 0 5px #938800;
      padding: 10px;
      border-radius: 100px;
      aspect-ratio: 1/1;
      position: relative;
      transition: all 0.2s;
      &:hover {
        filter: brightness(90%);
      }
      &_img {
        width: 60%;
        aspect-ratio: 5/3;
        margin-bottom: 20px;
        background-image: url(../../img/zibika.png);
        background-position: center;
        background-size: contain;
      }
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1.7rem;
      }
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      &:nth-of-type(2) {
        background: #f4fdfd;
        box-shadow: #006565 0 0 5px;
        .department_content_parts_img {
          background-image: url(../../img/ganka.png);
          background-size: cover;
        }
      }
      &:nth-of-type(3) {
        background: #fdf4fb;
        box-shadow: #760017 0 0 5px;
        .department_content_parts_img {
          background-image: url(../../img/naika.png);
          // background-size: cover;
        }
      }
    }
  }
}
